<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubiqlog.ubiqlogwear" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.wHeartRate"
            android:label="@string/title_activity_wheartrate" >
        </activity>
        <activity
            android:name=".ui.wAmbientLight"
            android:label="@string/title_activity_wambientlight" >
        </activity>
        <activity
            android:name=".ui.wBattery"
            android:label="@string/title_activity_wbattery" >
        </activity>
        <activity
            android:name=".ui.wBluetooth"
            android:label="@string/title_activity_wbluetooth" >
        </activity>
        <activity
            android:name=".ui.wNotifications"
            android:label="@string/title_activity_wnotifications" >
        </activity>
        <activity
            android:name=".ui.BatteryLevelActivity"
            android:label="Battery" />

        <service
            android:name=".sensors.BatterySensor"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".sensors.BluetoothSensor" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".sensors.ActivitySensor"
            android:label="@string/title_activity_activity_sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HeartRateActivity"
            android:label="@string/title_activity_heart_rate"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubiqlog.ubiqlogwear.ui.MainActivity" />
        </activity>
        <service android:name=".sensors.HeartRateSensor"
            android:exported="false"
            android:enabled="true" />

    </application>

</manifest>
